.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0 20px;
  background-color: rgba(167, 215, 246, 0.5);
  font-weight: 800;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  fill: white;
}
@media screen and (max-width: 420px) {
  .button {
    padding: 0.25rem;
    font-size: 0.75rem;
  }
}
