.add__button {
  padding: 0.5rem;
  margin: 0 20px;
  background-color: rgba(167, 215, 246, 0.5);
  font-weight: 800;
}
.add__button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.931);
  cursor: pointer;
}
