.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 2rem;
}
.label {
  font-size: 1.25rem;
  font-weight: 500;
}
.input {
  display: block;
  margin-top: 0.25rem;

  padding: 0.5rem 1rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0 20px;
  background-color: rgba(167, 215, 246, 0.5);
  font-weight: 800;
  /* stroke: black; */
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.391);
  color: rgba(255, 255, 255, 0.931);
  cursor: pointer;
  stroke: white;
  fill: white;
}
@media screen and (max-width: 420px) {
  .form {
    gap: 0.5rem;
  }
  .label {
    font-size: 1rem;
  }
  .button {
    padding: 0.25rem;
  }
}
