@import '../../vars.css';

.wrapper {
  display: flex;
  gap: 1rem;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--link-color);
  font-size: 1.25rem;

  &:global.active {
    color: var(--active);
  }
}
.icon {
  fill: var(--link-color);
}
.icon-active {
  fill: var(--active);
}
