@import '../../vars.css';

.wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 1rem;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--link-color);
  font-size: 1.25rem;

  &:global.active {
    color: var(--active);
  }
  &:hover {
    color: var(--active);
  }
}

.icon {
  fill: var(--link-color);
  &:hover {
    fill: var(--active);
  }
}
.icon-active {
  fill: var(--active);
}
@media screen and (max-width: 420px) {
  .wrapper {
    margin: 0;
    gap: 0.5rem;
  }
  .link {
    gap: 0.25rem;
    font-size: 0.75rem;
  }
  .icon {
    width: 25px;
    height: 20px;
  }
}
